html {
  scroll-behavior: smooth;
}

@supports (backdrop-filter: blur(0)) {
  .backdrop-blur-2xl {
    backdrop-filter: blur(40px) saturate(180%);
    -webkit-backdrop-filter: blur(40px) saturate(180%);
  }
}
  